@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap");

body {
    background-image: linear-gradient(
        to bottom right,
        rgba(191, 234, 240, 0.5),
        white
    );
    color: black;
    font-family: "Montserrat", sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.post-header {
    text-shadow: 3px 3px 2px grey;
    font-size: 2.5rem;
    color: black;
    width: max-content;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 5px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 15px grey;
}

.page-row {
    display: flex;
    flex: 1;
}

.page-header {
    display: flex;
    position: fixed;
    height: 22vh;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
}

.page-body {
    margin-top: 25vh;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

.post-header-container {
    width: 100%;
}

article {
    padding: 20px;
}

.title-container {
    font-family: "Bangers", sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 10px lightgrey;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
